footer {
  padding: 2px 0;
}

.footer {
  background-color: var(--background-dark); /* Consistent background */
  padding: 1rem;
  box-shadow: 0 -2px 5px var(--box-shadow-color); /* Subtle shadow */
  margin: 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: var(--text-color-light); /* Consistent text color */
  font-size: 0.875rem; /* Slightly smaller text size */
  text-align: center;
}

.footer-text:hover {
  color: var(--background-light); /* Brighten text color on hover */
  transition: color 0.3s ease; /* Smooth hover effect */
}

