<section id="home">
  <div class="container text-center">
    <div class="content mt-5">
      <div class="row justify-content-evenly align-items-center h-100">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p class="fs-1 header">Frontend Web Developer</p>
          <p class="fs-3">
            Master modern frontend development! Learn HTML, CSS, JavaScript,
            React, and more through hands-on projects. Build stunning,
            responsive websites and kickstart your tech career today!
          </p>
        </div>
        <div class="col-lg-5 cold-md-5 col-sm-12">
          <div class="image-container">
            <img
            src="./img/laptop1.jpg"
              
              alt="no image found"
              class="rounded flat-end"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- src="../../assets/pictures/laptop1.jpg" -->
