<section id="offers" class="offer-section">
  <div class="container text-center justify-content-center">
    <div class="mt-4">
      <p class="fs-1 header">Offers</p>
    </div>
    <div class="row justify-content-center mt-5">
      <!-- first offer starts here -->

      <div class="col-xxl-3 col-md-5 col-sm-12 d-flex mb-3">
        <div class="card w-100 d-flex flex-column">
          <div class="banner card-img-top" id="banner1">
            <!-- first course data starts here -->

            <p class="date mt-3 mb-0">Next Start: 17.02.2025</p>
            <p class="price mt-0">3,240.00 €</p>

            <!-- first course data ends here -->
          </div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title pb-1">Evening Course</h5>
            <hr class="m-0" />
            <ul class="text-start flex-grow-1 my-3">
              <li>Flexible Evening Schedule</li>
              <li>Comprehensive Curriculum</li>
              <li>Hands-On Learning</li>
              <li>Affordable & Accessible</li>
              <li>Work on Real Projects</li>
            </ul>
            <a
              href="https://www.codefactory.wien/courses/course-details/DGMiToZ2OhxmjmqTXVJ6"
              target="_blank"
              class="btn offer-btn mt-auto"
              id="offer-btn-1"
              >Register Now</a
            >
          </div>
        </div>
      </div>

      <!-- first offer ends here -->

      <!-- second offer starts here -->

      <div class="col-xxl-3 col-md-5 col-sm-12 d-flex mb-3">
        <div class="card w-100 d-flex flex-column">
          <div class="banner card-img-top" id="banner2">
            <!-- second course data starts here -->

            <p class="date mt-3 mb-0">Next Start: 20.01.2025</p>
            <p class="price mt-0">3,590.00 €</p>

            <!-- second course data ends here -->
          </div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title pb-1">Full Time Course</h5>
            <hr class="m-0" />
            <ul class="text-start my-3">
              <li>Become a Developer in only 3 Months</li>
              <li>Comprehensive Curriculum</li>
              <li>Job-Ready Portfolio</li>
              <li>Hands-On Learning</li>
              <li>Affordable & Accessible</li>
              <li>Work on Real Projects</li>
            </ul>
            <a
              href="https://www.codefactory.wien/courses/course-details/DGMiToZ2OhxmjmqTXVJ6"
              class="btn offer-btn mt-auto"
              target="_blank"
              id="offer-btn-2"
              >Register Now</a
            >
          </div>
        </div>
      </div>

      <!-- second offer ends here -->

      <!-- theird offer starts here -->

      <div class="col-xxl-3 col-md-5 col-sm-12 d-flex mb-3">
        <div class="card w-100 d-flex flex-column">
          <div class="banner card-img-top" id="banner3">
            <!-- theird course data starts here -->

            <p class="date mt-3 mb-0">Next Start: 03.02.2025</p>
            <p class="price mt-0">2,890.00 €</p>

            <!-- theird course data ends here -->
          </div>

          <div class="card-body d-flex flex-column">
            <h5 class="card-title pb-1">Remote Course</h5>
            <hr class="m-0" />
            <ul class="text-start my-3">
              <li>Flexible Learning</li>
              <li>Comprehensive Curriculum</li>
              <li>Personalized Support</li>
              <li>Affordable & Accessible</li>
              <li>Work on Real Projects</li>
            </ul>
            <a
              href="https://www.codefactory.wien/courses/course-details/DGMiToZ2OhxmjmqTXVJ6"
              class="btn offer-btn mt-auto"
              target="_blank"
              id="offer-btn-3"
              >Register Now</a
            >
          </div>
        </div>
      </div>

      <!-- theird offer ends here -->
    </div>
  </div>
</section>
